#canvas{
  position: absolute;
  display: block;
  margin: 0 auto;
  border: 2px solid #000;
}
.container{
  display: block;
  margin: 0 auto;
}
.jump{
  position: relative;
  padding: 10px 15px;
  top: 420px;
  left: 20px;
}